.cards {
    background-color: #E7E5E5;
    flex: 0.85;
    padding: 40px 40px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    overflow: hidden;
}

@media only screen and (max-width: 600px){
    .cards {
        flex: 0.95;
    }
}

@media only screen and (min-width: 601px){
    .cards {
        flex: 0.9;
    }
}

@media only screen and (min-width: 1024px){
    .cards {
       flex: 0.85;
    }
}