.cashFlow {
    background-color: #FFFFFF;
    width: 48%;
    height: 285px;
    border-radius: 10px;
}

.colorBox {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;  
}

#in {
    height: 20px;
    width: 20px;
    background-color: #00C267;
    border: 1px solid #00C267;
    border-radius: 5px;
    margin-right: 10px;
}

#out {
    height: 20px;
    width: 20px;
    background-color: #1E8A06;
    border: 1px solid #1E8A06;
    border-radius: 5px;
    margin-right: 10px;
}