.cashFlow {
    background-color: #FFFFFF;
    width: 48%;
    height: 285px;
    border-radius: 10px;
}

.colorBox {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;  
}

#in {
    height: 15px;
    width: 15px;
    background-color: #00C267;
    border: 1px solid #00C267;
    border-radius: 5px;
    margin-right: 10px;
}

#out {
    height: 15px;
    width: 15px;
    background-color: #1E8A06;
    border: 1px solid #1E8A06;
    border-radius: 5px;
    margin-right: 10px;
}

@media only screen and (max-width: 600px){
    .cashFlow {
        width: 95%;
    }
}

@media only screen and (min-width: 601px){
    .cashFlow {
        width: 80%;
    }
}

@media only screen and (min-width: 1024px){
    .cashFlow {
        width: 48%;
    }
}