.invoices {
    background-color: #FFFFFF;
    width: 48%;
    height: 285px;
    border-radius: 10px;
}


#chart {
    width: 100%;
    height: 300px;
}

button {
    margin-top: 15px;
    margin-right: 10px;
    height: 30px;
}

@media only screen and (max-width: 600px){
    .invoices {
        width: 95%;
    }
}

@media only screen and (min-width: 601px){
    .invoices {
        width: 80%;
    }
}

@media only screen and (min-width: 1024px){
    .invoices {
        width: 48%;
    }
}