.list {
    background-color: #FFFFFF;
    width: 48%;
    height: 285px;
    border-radius: 10px;
}

.body {
    padding: 10px;
    font-size: 14px;
    font-weight: 700;
}

@media only screen and (max-width: 600px){
    .list {
        width: 95%;
    }
}

@media only screen and (min-width: 601px){
    .list {
        width: 80%;
    }
}

@media only screen and (min-width: 1024px){
    .list {
        width: 48%;
    }
}