.navbar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px;
        position: sticky;
        top: 0;
        left: 0;
        height: 40px;
        z-index: 100;
        background-color: #FFFFFF;
}

.navbar__logo {
    height: 60px;
    object-fit: contain;
    margin-left: 10px;
}

.navbar__right {
    display: flex;
    gap: 20px;
}

.navbar__searchbox{
    height: 30px;
    width: 200px;
    background-color: #F9F5F5;
    background-image: url('search-icon.png');
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: 10px center;
    border: none;
    border-radius: 10px;
    overflow: hidden;
    z-index: -1;
}

