.container {
    display: none;
    position: absolute;
    width: 15%;
    height: 100vh;
    background-color: #FFFFFF;
    top: 0;
    left: 0;
    z-index: 1;
}

/* logo position has to adjust*/
.container__logo {
    padding: 30px;
    margin-bottom: 30px;
    cursor: pointer;
}

.container__logo > img {
    width: 150px;
} 

.container__sidebar {
    width: 100%;
}

.container__sidebar--content {
    display: flex;
    gap: 15px;
    align-items: center;
    padding-left: 40px;
    font-family: sans-serif;
    font-size: 12px;
    font-weight: 600;
    cursor: pointer;
}

.container__sidebar--content:hover {
    background-color: #17C506;
    color: #FFFFFF;
}